/* General card styling */
.portfolio-card {
  position: relative;
  width: 95vw;
  height: auto;
  aspect-ratio: 7.5 / 4.03; /* Maintain the aspect ratio */
  background-size: cover;
  background-position: center;
  border-radius: 1%;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.portfolio-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 255, 0, 0.6);
}

/* Text block inside the card */
.card-content {
  position: absolute;
  bottom: 20px;
  right: 0;
  background: rgba(0, 0, 0, 0.9); /* Set background to black */
  color: white;
  padding: 20px;
  width: 30vw;
  height: 60vh; /* Set height to auto */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  transition: height 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Minimized state */
.card-content.minimized {
  height: 15vh; /* Reduce height to 15vh */
  overflow: hidden; /* Hide overflow */
  justify-content: center; /* Center content */
}

/* Heading inside the card */
.card-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Description inside the card */
.card-content p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

/* Visit button */
.visit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.visit-button:hover {
  background-color: #218838;
}

/* Extend symbol */
.extend-symbol {
  cursor: pointer;
  font-size: 1.5rem; /* Adjust size for visibility */
  color: white;
  text-align: center; /* Center the symbol */
  margin-top: 10px; /* Space above */
}

/* Category badge */
.category-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #28a745;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
  .portfolio-card {
    width: 90vw;
  }

  .card-content {
    width: 30vw; /* Reduce text box width on smaller screens */
    height: 20vh;
  }

  .card-content.minimized {
    height: 15vh; /* Maintain minimized height */
  }

  .card-content h3 {
    font-size: 1.2rem; /* Adjust text size */
  }

  .card-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .portfolio-card {
    width: 85vw; /* Further reduce the card size on small devices */
  }

  .card-content {
    width: 60vw; /* Make text block smaller */
  }

  .card-content.minimized {
    height: 15vh; /* Maintain minimized height */
  }

  .card-content h3 {
    font-size: 1rem;
  }

  .card-content p {
    font-size: 0.8rem;
  }
}
